
{% extends 'common/poject.html' %}
{%load static%}

{% block title %}Blog{% endblock title%}


{% block cs %}
<style>
  .carousel{
        margin: 10px;
      }
  img{
      height:"50px";
    }
</style>
{% endblock cs%}


{%block body%}

<div id="carouselExampleAutoplaying" class="carousel slide " data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{%static 'img/70.jpg' %}" class="d-block w-100 rounded">
      </div>
      <div class="carousel-item">
        <img src="{%static 'img/23.jpg' %}" class="d-block w-100 rounded" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{%static 'img/32.jpg' %}" class="d-block w-100 rounded" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{%static 'img/24.jpg' %}" class="d-block w-100 rounded" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{%static 'img/52.jpg' %}" class="d-block w-100 rounded" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <br>
  <h1 class="text-center py-2 text-success">ADMIN CARDS</h1>
  <hr style="height:3px;border-width:0;color:rgb(241, 16, 16);background-color:rgb(95, 5, 5)">
  <br>
<!-- card section -->
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img src="{%static 'img/toma.jpg' %}" alt="Tamanna's pic" srcset=""class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Tamanna khatun (Desiner)</h5>
          <p class="card-text"> A Graphic Desiner</p>
          <a href="{%url 'cont'%}" class="btn btn-success">GO Contact</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="{%static 'img/sajim.jpg' %}" alt="SAJIM'S PIC" srcset=""class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">SAJIM UDDIN (Diploma Engineer)</h5>
          <p class="card-text"> A Full Stack Web Devloper (Django)</p>
          <a href="{%url 'cont'%}" class="btn btn-success">GO Contact</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="{%static 'img/jakas.jpg' %}" alt="Jakariya's pic" srcset=""class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Jakariya Hossain (Diploma Engineer)</h5>
          <p class="card-text"> A Autocad Desiner</p>
          <a href="{%url 'cont'%}" class="btn btn-success">GO Contact</a>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock body%}