<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}  {% endblock title%}</title>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css'%}">

    <style>
      	.nv{
          background-color:#198754;
	}
    </style>
    {% block cs %}
      
    {% endblock cs%}
</head>
<body>
    <!-- <nav class="navbar-expand-sm">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" href="#">
            <img src="{%static 'img/a.jpg' %}" alt="Avatar Logo" style="width:40px;" class="rounded-pill"> 
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link "href="">LOG IN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'blog'%}">BLOG</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'cont'%}">MACHEN LARNING</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'about'%}">ABOUT</a>
        </li>
      </ul>
      </nav> -->

      <nav class=" nv navbar navbar-expand-lg ">
        <div class="container-fluid ">
          <a class="navbar-brand text-white" href="#">
            <img src="{%static 'img/a.ico' %}" alt="Avatar Logo" style="width:40px;" class="rounded-pill">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse text-light" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link text-white "href="{%url 'login'%}">Log In</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="{%url 'blog'%}">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="{%url 'cont'%}">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="{%url 'about'%}">About</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn text-white btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
      {% block body %}  {% endblock body%}
<br>

    <script src="{%static 'bootstrap.min.js' %}"></script>
</body>
</html>